{{>buscador}}

<div class="error">

    <img class="errorimg" src="assets/img/pikachu.gif" alt="">
    <p class="errortext"> 
        Pikachu ha buscado mucho pero no ha encontrado el pokemon que buscaste.<br>
        Asegurate que el número del Pokemon se encuentre entre 1 y 898.
    </p>

</div>

{{>footer}}