{{>buscador}}

<div class="error">

    <img class="errorimg" src="assets/img/pikachu.gif" alt="">
    <p> 
        No hemos encontrado el pokemon que buscaste. O tal vez no se ha creado aun. <br>
        Asegurate que el número del Pokemon se encuentre entre 1 y 898.
    </p>

</div>

{{>footer}}