{{>buscador}}

<div class="loading">

    <img class="loading_img" src="assets/img/pikachu.gif" alt="">
    <p class="loading_text"> 
        Busca un Pokemon antes que Pikachu se agote... <br>
    </p>

</div>

{{>footer}}