*{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    box-sizing: border-box;
}

body, html, .formulario, .navbar{
    width: 100%;
}

body, html{
    height: 100%;
}

h1{
    margin: auto;
    color: #FFFF00;
    font-size: 25px;
}

.navbar, .formulario, .btns, .tipos{
    display: flex;
}

.navbar, .card{
    background-color: #ec414b;
}

.navbar{
    height: 70px;
    justify-content: space-between;
    padding: 15px;
}

.buscar, .btnBuscar{
    border-radius: .25rem;
}

.buscar{
    width: 11em;
    margin: 0 12px;
    padding: .400rem 1rem;
    color: #495057;
    border: 1px solid #ced4da;
}

.btnBuscar{
    padding: .400rem .60rem;
    color: white;
    background: none;
}

.btnBuscar, #tipo1, #tipo2{
    border: 1px solid white;
}

.card, .btnBlue, .btnYellow{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.55);
}

.btnBlue, .btnYellow{
    border-radius: 50%;
}

.card{
    height: 30em;
    margin: 3% auto;
    border-top-right-radius: 40px;
    filter: contrast(150%);
}

.btnYellow{
    width: 2em;
    height: 2em;
    margin: 1.5em 0.5em;
    background-color: yellowgreen;
}

.btnBlue{
    width: 3em;
    height: 3em;
    margin: 1em;
    background-color: lightblue;
}

.pokemon{
    height: 13em;
    margin: 1em 3.5em;
    background-color: white;
    border-radius: 20px;
    filter: contrast(70%);
}

.pokemon, .nombre_pokemon, .tipos{
    width: 13em;
}

.nombre_pokemon, .tipos{
    height: 2em;
    margin: 0.5em auto;
}

.nombre_pokemon, #tipo1, #tipo2{
    padding: 0.5em;
    border-radius: 15px;
    font-family: 'Bangers', cursive;
}

h1, .numero_pokedex, .numero_pokedex{
    font-weight: 300;
    font-family: 'Bangers', cursive;
}

.nombre_pokemon{
    background-color: yellowgreen;
}

.numero_pokedex{
    color: white;
    font-size: 18px;
}

#tipo1, #tipo2{
    width: 6em;
    height: 2em;
    margin: 0.25em auto;
}

.error, .card{
    text-align: center;
}

.error{
    margin: 5em auto;
    font-family: 'Pangolin', cursive;
}

.card, .errorimg, .errortext{
    width: 20em;
}

.errortext{
    margin: 1.5em auto;
}

.errorimg{
    height: 15em;
}